/******loader***/

.ld-sellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ld-sellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(246, 248, 247);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ld-sellipsis div:nth-child(1) {
  left: 8px;
  animation: ld-sellipsis1 0.6s infinite;
}
.ld-sellipsis div:nth-child(2) {
  left: 8px;
  animation: ld-sellipsis2 0.6s infinite;
}
.ld-sellipsis div:nth-child(3) {
  left: 32px;
  animation: ld-sellipsis2 0.6s infinite;
}
.ld-sellipsis div:nth-child(4) {
  left: 56px;
  animation: ld-sellipsis3 0.6s infinite;
}
@keyframes ld-sellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ld-sellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ld-sellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
